{% extends 'base.html'%}
{% load static%}

{% block content%}
<!--------main-content------------->
		   
		   <div class="main-content">
			  <div class="row">
			    
				<div class="col-md-12">
				<div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6 p-0 d-flex justify-content-lg-start justify-content-center">
          <h2 class="ml-lg-2">Manage Employees</h2>
        </div>
        <div class="col-sm-6 p-0 d-flex justify-content-lg-end justify-content-center">
          <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
		  <i class="material-icons">&#xE147;</i> <span>Add New Doctor</span></a>
          <!-- <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal">
		  <i class="material-icons">&#xE15C;</i> <span>Delete</span></a> -->
        </div>
      </div>
    </div>
    
    <form  method="post" enctype="multipart/form-data">
      {% csrf_token %} 
      <div class="form-group">
        <select name="idsec">
          <option value="0">Select section</option>
          
          {% for i in sections %}
          <option value="{{i.id}}">{{i.name}}</option>
          {% endfor %}
        </select>
       
          </div>
          <div class="form-group">
            <select name="idcli">
              <option value="0">Select clinics</option>
              
              {% for i in clinics %}
              <option value="{{i.id}}">{{i.name}}</option>
              {% endfor %}
            </select>
           
              </div>
              <div class="form-group">
            <select name="idtype">
              <option value="">Select Type</option>
              
              <option value="Monthy">Monthy</option>
              <option value="Weekly">Weekly</option>

            </select>
           
              </div>
          <input type="submit" class="btn btn-success" value="Check">
    </form>
    <canvas id="myChart"></canvas>

			 
			 <!---footer---->
       <script>
        
        // Get the canvas element
        const ctx = document.getElementById('myChart').getContext('2d');
      
        // Retrieve the values from the hidden inputs


        // Define the data for your chart
        const data = {
          labels: [{% for gender in does %} '{{ gender }}', {% endfor %}],
          datasets: [{
            label: 'Sales',
            data: [{% for number in appcont %} '{{ number }}', {% endfor %}],
            backgroundColor: 'rgba(75, 192, 192, 0.2)', // Set the background color of the chart
            borderColor: 'rgba(75, 192, 192, 1)', // Set the border color of the chart
            borderWidth: 1 // Set the border width of the chart
          }]
        };
      
        // Create the chart
        const myChart = new Chart(ctx, {
          type: 'bar',
          data: data,
          options: {
            // Additional options for customization
          }
        });
      </script>
		<footer class="footer">
			    <div class="container-fluid">
				  <div class="footer-in">
                    <p class="mb-0">&copy 2020 Vishweb design - All Rights Reserved.</p>
                </div>
				</div>
			 </footer>
</div>
</div>

{% endblock %}